@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";
@import "themes/violet";

body {
  // cause of portal
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar { // ширина скроолбар
  width: 12px;
  height: 8px;
}

*::-webkit-scrollbar-track { //цвет дорожки
  background: var(--card-bg);
}

*::-webkit-scrollbar-thumb { // цвет плашки
  background-color: var(--inverted-primary-color);
  border-radius: 20px;
  border: 2px solid var(--secondary-color);
}