.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.input {
  margin-top: 10px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px; // чтоб былок был растянут
}

.avatarWrapper {
  display: flex;
  padding-bottom: 5px;
  width: 100%;
  justify-content: left;
}

.editing {
  border: 2px solid var(--inverted-secondary-color);
}