.ArticleList {
}

.BIG {
  .card {
    margin-bottom: 30px;
  }
}

.SMALL {
  display: flex;
  flex-wrap: wrap; // на новую строку, то что не вместилось
  gap: 30px;

  .card {
    display: inline-flex;
  }

  .row {
    display: flex;
    gap: 30px;
  }
}
