.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.loading,
.error {
  height: 300px; // чтоб былок был растянут
}

.editing {
  border: 2px solid var(--inverted-secondary-color);
}