.app_violet_theme {
  --bg-color: #e5f0ff;
  --inverted-bg-color: #603e6a;
  --primary-color: #844d71;
  --secondary-color: #e9b3d5;
  --inverted-primary-color: #ffdcf3;
  --inverted-secondary-color: #b56e96;

  // redesigned
  --dark-bg-redesigned: #FFF3D6;
  --bg-redesigned: #F0C048;
  --light-bg-redesigned: #F2D791;
  --text-redesigned: #1B1311;
  --hint-redesigned: #B8B2A2;
  --cancel-redesigned: #FF5E5E;
  --save-redesigned: #52FA81;
  --icon-redesigned: #4875F0;
  --accent-redesigned: #1D59FF;

  // skeleton
  --skeleton-color: #fdf1ff;
  --skeleton-shadow: rgb(32 26 26 / 89.6%);

  // code
  --code-bg: #fef4f4;
  
  // card
  --card-bg: rgb(203, 203, 219);
  
  // listbox
  --listbox-bg: rgb(203, 203, 219);
}
