.app_violet_theme {
  --bg-color: #e5f0ff;
  --inverted-bg-color: #603E6A;
  --primary-color: #844d71;
  --secondary-color: #FBF4F8;
  --inverted-primary-color: #ffdcf3;
  --inverted-secondary-color: #b56e96;
}