.MainLayout {
  min-height: 100vh; // можно было и % исп., чтоб на ios корректно отобр.
  display: grid;

  // когда задаете зоны, элементы в самой верстке распл.
  // как угодно, от этого позиц. элем. не меняется
  // пошта четко указ. в грид цсс, так распл будут:
  grid-template-areas: "sidebar content rightbar";

  // min-content - контентная часть не смещается, чтобы дать больше контентной части 
  // для маленьких экранов, тогда контент часть будет съезжать
  // вместе с сворачиванием сайдбара, на мел. экранах будет прижиматься
  grid-template-columns: min-content 1fr 100px; // width of columns 220px + 64px (paddings)
  // 1fr - контентная часть должна занимать все свобод. простраснство (искл: отсуптов до ближ зон)
  // 100px - toolbar
}

.sidebar {
  grid-area: sidebar;
  padding: 32px;
  max-width: 284px;
}

.content {
  grid-area: content;
  max-width: 1200px;
  justify-self: center;
  padding: 32px;
  // растягиваем на всю свободную ширину
  width: 100%; // чтоб прижималась к левому краю
}

.rightbar {
  grid-area: rightbar;
  display: flex; // тк тулбар вложен в райтбар (дом ноду вложили)
  flex-direction: column; // хедер + тулбар разом сделали
  align-items: flex-end;
}

.rightbar,
.sidebar {
  position: sticky;
  top: 0; // чтоб к верхнему углу.
  height: 100vh; // ограничиваем размер, пошта растягивается на всю обл.
}

.toolbar {
  height: 100%;
}
