.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
}

.NavbarRedesigned {
  padding: 16px;
}

.links,
.actions {
  // position по правому краю
  margin-left: auto;

  .mainLink {
    margin-right: 15px;
  }
}

.appName {
  // чтобы лишнее в эту область не попадало
  width: var(--sidebar-width);
  margin-left: 15px;
}
