// menu не выносим в общие стили, чтоб не было жоской свзяи
// между выпад. меню в dropdown и в popover
// чтоб могли кастомизировать
.menu {
  background: var(--card-bg);
  position: absolute;
  z-index: 10000;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  display: flex;
  flex-direction: column;
}

.item {
  padding: 18px 25px;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: var(--primary-color);
  cursor: pointer;
}
