.CommentCard {
  padding: 10px;
  border: 1px solid var(--primary-color);
}

// хедер навешивается на ссылку. поэтому чтоб не создавть лишнюю
// ноду, оставим
.header {
  display: flex;
  align-items: center;
}

.username {
  margin-right: 10px;
}

.loading {
  border: none;
}
